<h1 mat-dialog-title style="text-align: center;">
  <mat-icon style="font-size: 50px; text-align: center;" class=""  color="primary" aria-hidden="false" aria-label="">check</mat-icon>
</h1>
<div mat-dialog-content>product has been added successfully to cart.</div>
<div mat-dialog-actions>
  <button  mat-stroked-button color="primary"mat-dialog-close>Continue Shopping</button>
  <button  mat-flat-button  mat-dialog-close color="primary" class="btn btn-primary" routerLink='/cart'>Checkout</button>
</div>