

       

<app-navbarcateogry></app-navbarcateogry>



<div class="container-fluid">
    <div class="row card-group" >
      <div class="col-sm-3  mb-2" *ngFor="let  prod of bedRoom">
        <div class="card">
          <img [src]="prod.img" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title" class="display4">{{ prod.name }}</h2>
          <p class="card-text">  {{ prod.description }}</p>
          <p class="card-text">   price: <b> {{ prod.price }}</b> </p>
          <button mat-flat-button color="primary" (click)="addTocart(prod.ID)">AddCart</button>
        </div>
        </div>
      </div>
    </div> 
  </div>