<div class="container">
    <h1>Add Products</h1>
    {{addProducts.value | json}}
    <form [formGroup]="addProducts">
        <!-- Product Name -->
        <div class="form-group">
            <label class="badge badge-primary p-2" for="productName">Product Name</label>
            <input type="text" [class.is-invalid]="productName?.invalid && productName?.touched"
                formControlName="productName" class="form-control" id="productName">
            <div *ngIf="productName?.invalid && productName?.touched">
                <small *ngIf="productName?.errors?.required" class="text-danger">
                    Product Name Is Required And Must Be Unique
                </small>
                <small *ngIf="productName?.errors?.minlength" class="text-danger">
                    Product Length At Least 10 Characters
                </small>
            </div>


        </div>
        <!--Price -->
        <div class="form-group">
            <label class="badge badge-primary p-2" for="price">Price</label>
            <input type="text" class="form-control" id="price" formControlName="price"
                [class.is-invalid]="price?.invalid && price?.touched">

            <small *ngIf="price?.errors?.required" class="text-danger">
                price Is Required
            </small>
        </div>
        <!-- Images -->
        <div class="form-group">
            <button class="btn btn-danger float-right" (click)="addAnotherImage()">Add Another Image</button>
            <br>

            <label class="badge badge-primary p-2" for="productImages">images</label>
            <input type="text" class="form-control" id="productImages" formControlName="productImages"
                [class.is-invalid]="productImages?.invalid && productImages?.touched">

            <small *ngIf="price?.errors?.required" class="text-danger">
                product Images Is Required
            </small>
            <!-- <input type="file" class="form-control" id="image" formControlName="images"> -->
            <!-- <button type="submit" class="btn btn-dark">choose</button> -->
        </div>
        <div formArrayName="alt_ProductImages" *ngFor="let img of alt_ProductImages.controls let i=index">
            <label class="badge badge-dark p-2" for="productImages">image {{i+1}}</label>
            <input type="text" class="form-control" id="productImages" [formControlName]="i"
                [class.is-invalid]="productImages?.invalid && productImages?.touched">

        </div>


        <!--Category  -->
        <div class="form-group">
            <label class="badge badge-primary p-2" for="Category">Category</label>
            <input type="text" class="form-control" id="Category" formControlName="category">
        </div>
        <!-- Description -->
        <div class="form-group">
            <label class="badge badge-primary p-2" for="Description">Description</label>
            <input type="text" class="form-control" id="Description" formControlName="description">
        </div>
        <div class="form-group">
            <label class="badge badge-primary p-2" for="Discount">Discount</label>
            <input type="text" class="form-control" id="Discount" formControlName="discount">
        </div>
        <div class="form-group">
            <label class="badge badge-primary p-2" for="Color">Color</label>
            <input type="text" class="form-control" id="Color" formControlName="color">
        </div>
        <!-- Add Button -->
        <input type="submit" value="Add" class="btn btn-info">
    </form>

    <button class="btn btn-secondary" (click)="editProduct()">Edit</button>

</div>