<!-- <app-header></app-header> -->
<!---------------------------------------------------------------------------------------------->


<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->


<button mat-raised-button class="btn btn-primary" routerLink='/livingroom'>Living Room </button>
<button mat-raised-button class="btn btn-primary" routerLink='/bedroom'>Bedrooms </button>
<button mat-raised-button class="btn btn-primary" routerLink='/freespaces'>CupBord </button>
<button mat-raised-button class="btn btn-primary" routerLink='/decoration'> Decoration </button>







<!-- <router-outlet></router-outlet> -->