/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

$primary-palette: mat-palette($mat-indigo);
// Includes all common styles that are used by multiple Angular Material components
@include mat-core();

// Define your application's custom theme.
$primary-palette: mat-palette($mat-teal); //Note: Changed from mat-indigo
$accent-palette:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-dark-theme(  
  $primary-palette,
  $accent-palette,  
);

// Include theme styles for Angular Material components and each component used in your app.
@include angular-material-theme($theme);
html, body { height: 100%; }
body { 
    
    margin: 0; font-family: Roboto,
     "Helvetica Neue", sans-serif; }
