<div class="container">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete" style="z-index: 99999;">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.productName">
                    <img class="example-option-img" aria-hidden [src]="state.product_img" height="25">
                    <span>{{state.productName}}</span> |
                    <small>Population: {{state.price}}</small>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- <button (click)="showProduct(state.id)" mat-raised-button class="btn btn-primary my-2 my-sm-0"
            type="submit">Search</button> -->
    </form>
</div>