

<div class="top">
  <mat-grid-list cols="2" rowHeight="2:1"  gutterSize="20px">
      <mat-grid-tile colspan="2" >
     
   <!--  <mat-card class="example-card"> -->
      <img mat-card-image src="./assets/mother2.jpg" class="img-fluid" alt="Photo of a Shiba Inu" style="width: 100%; height:100%">
  <!--  </mat-card>  -->
    </mat-grid-tile>
  
    
    
    <a routerLink="/halfDiscount"> <mat-grid-tile> 
      <div class="overleyContainer">
   <!--  <mat-card class="example-card"> -->
      
     
     <img mat-card-image src="./assets/discount2.jpg" class="img-thumbnail" alt="Photo of a Shiba Inu" style="width:100%; height:100%">
     <div class="overlay">
      <div class="text"> <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">50% Disount </h1>
        <h3  style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">with homzmart every thing will be easier </h3>
      </div>
    </div>
  <!--  </mat-card> -->
  </div>
  </mat-grid-tile> </a>
  
     
  <a routerLink="/freeDelivery"><mat-grid-tile> 
    <div class="overleyContainer">
  <!-- <mat-card class="example-card"> -->

      
      <img mat-card-image src="./assets/delivery.jpg" class="img-thumbnail"  alt="Photo of a Shiba Inu" style="width: 100% ;height:100%">
      <div class="overlay">
        <div class="text">
          <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">Free delivery</h1>
          <h3  style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">with homzmart every thing will be easier </h3>
        </div>
      </div>
  <!--</mat-card>-->
</div>
  </mat-grid-tile> </a>   
    </mat-grid-list> 
  
  </div>


    <div class="furniture">
      <div  style="width: 100%; height: 25%; background-color: rgba(151, 8, 127, 0.288);">
      <h1 class="offerHeadline">  Mom's Room </h1>
        <h3>will be more beautiful</h3>
      </div>
      
<mat-grid-list cols="3" rowHeight="1:1" gutterSize="20px">
  
  <mat-grid-tile (click)="goToProductDetails(p)"  *ngFor="let p of offeredFurniture">

    <a routerLink="/productDetails"><mat-card  class="example-card">



      <img mat-card-image [src]="p.imageUrl" alt="Photo of a Shiba Inu" style="width: 100% ;height:200px">
      <mat-card-content>
        <h3>name: {{p.name}}</h3>

        <div style="background-color: red; color:white; font-weight: bold; border-radius: 20%; float:right">
          <p style="margin: 5px;">{{p.discount}}</p>
        </div>


        <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
          grade
        </span>
        <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
          grade
        </span>
        <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
          grade
        </span>
        <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
          grade
        </span>
        <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
          grade
        </span>
        <p> <del>{{p.priceAfterDiscount}} L.E</del></p>
        <p>{{p.price}} L.E</p>
        <!-- <button mat-button>add to cart</button> -->
        <button mat-stroked-button color="primary">add to cart</button>
      </mat-card-content>


    </mat-card></a>

  </mat-grid-tile>
</mat-grid-list> </div>





<div class="storeItems">
  <div  style="width: 100%; height: 25%; background-color: rgba(151, 8, 127, 0.452);" >
    <h1 class="offerHeadline">   Store items Offers</h1>
      <h4>Make a surprise for your Mum</h4>
  </div>  
<mat-grid-list cols="3" rowHeight="1:1" gutterSize="20px">

  <mat-grid-tile (click)="goToProductDetails(p)"  *ngFor="let p of offeredStoreItems">

    <a routerLink="/productDetails"><mat-card  class="example-card">




  <img mat-card-image  [src]="p.imageUrl"  alt="Photo of a Shiba Inu" style="width: 100% ;height:200px">
  <mat-card-content>
    <h3>name: {{p.name}}</h3>

    <div style="background-color: red; color:white; font-weight: bold; border-radius: 20%; float:right">
      <p style="margin: 5px;">{{p.discount}}</p>
    </div>


    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <p> <del>{{p.priceAfterDiscount}} L.E</del></p>
    <p>{{p.price}} L.E</p>
    <!-- <button mat-button>add to cart</button> -->
    <button mat-stroked-button color="primary">add to cart</button>
  </mat-card-content>

</mat-card></a>

</mat-grid-tile>
</mat-grid-list> </div>



<div class="decore">
  <div  style="width: 100%; height: 25%; background-color: rgba(151, 8, 127, 0.452);">

    <h1 class="offerHeadline">   Decoration's offers </h1>
    <h4>make your mum happier</h4>
  
  </div>
<mat-grid-list cols="3" rowHeight="1:1" gutterSize="20px">

  <mat-grid-tile (click)="goToProductDetails(p)"  *ngFor="let p of offeredDecorations">

    <a routerLink="/productDetails"><mat-card  class="example-card">


  <img mat-card-image  [src]="p.imageUrl"  alt="Photo of a Shiba Inu" style=" width:100%;height:200px">
  <mat-card-content>
    <h3>name: {{p.name}}</h3>

    <div style="background-color: red; color:white; font-weight: bold; border-radius: 20%; float:right">
      <p style="margin: 5px;">{{p.discount}}</p>
    </div>


    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <span class="material-icons" style="color:rgba(255, 208, 0, 0.952)">
      grade
    </span>
    <p> <del>{{p.priceAfterDiscount}} L.E</del></p>
    <p>{{p.price}} L.E</p>
    <!-- <button mat-button>add to cart</button> -->
    <button mat-stroked-button color="primary">add to cart</button>
  </mat-card-content>


</mat-card></a>

</mat-grid-tile>
</mat-grid-list> </div>